In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather_data.csv')
df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Pyaozerskiy,100,RU,1562887822,77,65.83,31.17,42.89,18.16
1,1,Buin,29,CL,1562887823,71,-33.73,-70.74,53.60,5.82
2,2,Hobart,75,AU,1562887824,61,-42.88,147.33,48.20,19.46
3,3,Yellowknife,90,CA,1562887826,82,62.45,-114.38,59.00,4.70
4,4,Qaanaaq,0,GL,1562887827,48,77.48,-69.36,46.67,7.92

In [3]:
df.to_html('weather_data')